<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head('')">
</head>
<body>
<div th:replace="fragments/common :: nav">nav</div>
<div class="container">
    <h5>酒店支持服务列表</h5>
    <hr/>
    <a class="btn btn-success" href="./form">增加</a>
    <hr/>
    <table class="table">
        <thead>
        <tr>
            <th class="hide">ID</th>
            <th>名称</th>
            <th>排序</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entity: ${page.content}">
            <td class="hide" th:id="${entity.id}" th:text="${entity.id}">Oranges</td>
            <td th:text="${entity.name}">Oranges</td>
            <td th:text="${entity.sort}">Oranges</td>
            <td><a class="btn btn-primary btn-sm" th:href="@{/hotel/service/form(id=${entity.id})}">修改</a>
                <a class="btn btn-danger btn-sm"
                   th:onclick="'del(\''+@{/hotel/service/delete}+'\',\'' + ${entity.id } +'\')'">删除</a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:replace="fragments/common :: pagination">nav</div>
</div>
</body>
</html>