<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: head('')">
</head>
<body>
<div th:replace="fragments/common :: nav">nav</div>
<div th:replace="fragments/crud/script :: all(@{/hotel/service/category})"></div>
<div class="container">
    <a class="btn btn-primary" th:href="@{./list}">返回列表</a>
    <hr/>
    <form id="form" class="form-horizontal" th:action="@{/hotel/service/category/save}" method="post">
        <div th:replace="fragments/crud/submit :: id"></div>
        <div th:replace="fragments/crud/input :: text-required('name','名称')"></div>
        <hr/>
        <div th:replace="fragments/crud/submit :: default"></div>
    </form>
</div>
</body>
</html>